Package: travesty
Section: misc
Priority: extra
Maintainer: Tim Rose <tim.rose@acm.org>
Version: 0.0.0
Description: 
A semi-random text scrambler.

Travesty applies character sequence probabilities of its input
text to generate random text.
